<div id="ArtalkComments"></div>
<script src="{{ site.baseurl }}/artalk/Artalk.js"></script>
<script>
  new Artalk({
    el: '#ArtalkComments', // 元素选择
    placeholder: '让我来说两句', // 占位符
    noComment: '暂时还没有评论哦 ( ゜- ゜)', // 无评论时显示
    defaultAvatar: 'identicon', // 参考 https://cn.gravatar.com/site/implement/images/#default-image
    maxNest: 3, // 指定评论显示的最大嵌套层数
    pageKey: window.location.pathname,
    serverUrl: 'https://rss.xn--ugu.ml/comments/public/index.php',
    readMore: { // 阅读更多配置
      pageSize: 15, // 每次请求获取评论数
      autoLoad: true // 滚动到底部自动加载
    }
  });
</script>
